# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# dotenv environment files (if you use them)
.env

# OS-specific files
.DS_Store
Thumbs.db

# Debug files
.vscode/
.idea/

# Render/Heroku-specific files
render.yaml
